@model TradeMeExampleOAuthApplication.ViewModel.Home.ConsumerConfiguration

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Trade Me's OAuth PLAINTEXT workflow example</h2>
    <p class="lead">This application shows you how to authenticate your Trade Me account in order to obtain ACCESS tokens</p>
    <p>
        <a href="http://developer.trademe.co.nz/example-plaintext-workflow/" class="btn btn-primary btn-lg">Walk through available here&raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Read the README.md in the source code of this project first.
        </p>
        @if (!Model.HasValidConsumerKeys)
        {
            <h2 style="color: red">You have not entered your consumer keys in the OauthHeaderData file.</h2>
            <p>You may enter them below:</p>
            using (Html.BeginForm("SetKeys", "Home", FormMethod.Post))
            {
                @Html.TextBox("consumerKey", "", new {@placeholder = "consumer key"})
                <br/>
                <br/>
                @Html.TextBox("consumerSecret", "", new {@placeholder = "consumer secret"})
                <br/>
                <br/>
                <input type="submit" value="Save key & secret"><br/><br/>
            }
        }
        <p>
            Hit the button below to start the OAuth flow, when you do this application will go and request some REQUEST tokens from Trade Me.
        </p>
        <p>
            On the next page you will see those REQUEST tokens. Click on the link below those to authenticate your Trade Me account against this application using those tokens.
        </p>
        <p>
            <a class="btn btn-default" href="../OAuth/GetRequestToken">START&raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Once you have authenticated your account</h2>
        <p>
            After you click the link to authenticate your account Trade Me will redirect you back to the specified callback in this application with an oauth_verifier that represents the fact you have authenticated the application.
        </p>
        <p>
            This application then returns that verifier, the consumer keys and the REQUEST token to Trade Me to finally receive back the ACCESS token (key and secret).
        </p>
    </div>
</div>